0x06-python-classes/#6-square.py#
0x06-python-classes/4-square.py~
0x04-python-more_data_structures/8-main.py~
0x04-python-more_data_structures/8-simple_delete.py~
0x04-python-more_data_structures/9-multiply_by_2.py~
0x03-python-data_structures/#1-element_at.py#
0x03-python-data_structures/1-element_at.py~
0x03-python-data_structures/2-replace_in_list.py~
0x03-python-data_structures/5-no_c.py~
0x03-python-data_structures/6-main.py~
0x03-python-data_structures/6-print_matrix_integer.py~
0x03-python-data_structures/7-add_tuple.py~
0x03-python-data_structures/7-main.py~
0x03-python-data_structures/11-delete_at.py~
0x01-python-if_else_loops_functions/9-print_last_digit.py~
0x01-python-if_else_loops_functions/8-uppercase.py~
0x01-python-if_else_loops_functions/5-print_comb2.py~
0x01-python-if_else_loops_functions/4-print_hexa.py~
0x01-python-if_else_loops_functions/2-print_alphabet.py~
0x00-python-hello_world/1-run_inline~
0x00-python-hello_world/6-concat.py~
0x00-python-hello_world/102-magic_calculation.py~
0x0B-python-input_output/4-from_json_sting.py
0x0C-python-almost_a_circle/models/base.py~
0x01-python-if_else_loops_functions/2-print_alphabet.py~
0x01-python-if_else_loops_functions/4-print_hexa.py~
0x01-python-if_else_loops_functions/5-print_comb2.py~
0x01-python-if_else_loops_functions/8-uppercase.py~
0x01-python-if_else_loops_functions/9-print_last_digit.py~
0x03-python-data_structures/#1-element_at.py#
0x03-python-data_structures/1-element_at.py~
0x03-python-data_structures/2-replace_in_list.py~
0x03-python-data_structures/5-no_c.py~
0x03-python-data_structures/6-main.py~
0x03-python-data_structures/6-print_matrix_integer.py~
0x03-python-data_structures/7-add_tuple.py~
0x03-python-data_structures/7-main.py~
0x03-python-data_structures/11-delete_at.py~
0x04-python-more_data_structures/8-main.py~
0x04-python-more_data_structures/8-simple_delete.py~
0x04-python-more_data_structures/9-multiply_by_2.py~
0x06-python-classes/4-square.py~
0x08-python-more_classes/1-rectangle.py~
0x08-python-more_classes/4-rectangle.py~
0x08-python-more_classes/7-rectangle.py~
0x08-python-more_classes/9-main.py~
0x08-python-more_classes/9-rectangle.py~
0x09-python-everything_is_object/5-answer.txt~
0x09-python-everything_is_object/6-answer.txt~
0x09-python-everything_is_object/7-answer.txt~
0x09-python-everything_is_object/19-copy_list.py~
